<phpunit bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Expressly osCommerce 2.3 Module Tests Suite">
            <directory suffix="Test.php">./tests/functional</directory>
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="WEB_SERVER_HOST"    value="localhost" />
        <const name="WEB_SERVER_PORT"    value="8888" />
        <const name="WEB_SERVER_WEBROOT" value="./build/webroot" />
        <const name="DB_HOST"     value="localhost" />
        <const name="DB_USERNAME" value="root" />
        <const name="DB_PASSWORD" value="" />
        <const name="DB_DBNAME"   value="osc_test" />
    </php>

    <logging>
        <log type="coverage-html" target="build/coverage" title="Expressly osCommerce 2.3 Module"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">catalog</directory>
            <exclude>
                <directory>catalog/includes/apps/expressly/vendor</directory>
                <directory>catalog/includes/languages</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>